{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 90,
  "proseWrap": "always",
  "singleQuote": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    }
  ]
}